<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Awesome OIT test prepearing</title>

    <link rel="stylesheet" href="css/stylesheet.css"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script>var app = angular.module("myApp", []); const QUESTIONS_NUM = 20</script>
    <script src="Question.js"></script>
    <script src="RandQuestionsVM.js"></script>
    <script src="QuestionsModel.js"></script>
    <script src="LogInModel.js"></script>
    <script src="ResultVM.js"></script>
    <script src="controller.js"></script>
</head>
<body style="
    height: 100vh;
    display:  flex;
    justify-content:  center;
    align-content:  center;
" ng-controller="controller as vm">
    <div class="outer">
        <div ng-if="vm.state == 'start'" class = "center-field text-center">
            <div class="prepearing">
                <h2>Підготовка до ЗНО</h2>
            </div>
            <h3>Введіть свої дані і натиснить кнопку "Розпочати тестування"</h3>
            <br/>
            <input type="text" ng-model="vm.logInModel.name" class="name-input form-control" placeholder="Ім'я" style="width: 90%">
            <br/>
            <input type="text" ng-model="vm.logInModel.secondName" class="name-input form-control" placeholder="Прізвище" style="width: 90%">
            <br/>
            <button class="start-btn btn-primary btn-lg" ng-click="vm.start()">Розпочати тестування</button>
            <br/>
            <br/>
        </div>
        <div ng-if="vm.state == 'tests'" class = "center-field text-center">
            <div class="question">
                <h4>Завдання {{vm.randQuestionsVM.i + 1}}</h4><!--/{{vm.questionsNum}}: {{vm.randQuestionsVM.currentQuestion.text}}</h4>-->
                    <img ng-src="{{vm.randQuestionsVM.currentQuestion.text}}"></img>
                <br/>
            </div>
            <div class="radio" ng-repeat="variant in vm.randQuestionsVM.currentQuestion.variants">
                <label><input type="radio"
                              name="vm.randQuestionsVM.i"
                              ng-model="vm.randQuestionsVM.currentQuestion.answer"
                              ng-value="variant">{{variant}}</label>
            </div>

            <button ng-if="vm.randQuestionsVM.i != 0" ng-click="vm.randQuestionsVM.previous()" class="btn-primary btn-lg" style="float: left"><- back</button>
            <button ng-if="vm.randQuestionsVM.i + 1 != vm.questionsNum" ng-click="vm.randQuestionsVM.next()" class="btn-primary btn-lg" style="float: right">next -></button>
            <br/>
            <button ng-if="vm.randQuestionsVM.i + 1 == vm.questionsNum" ng-click="vm.finish()" class="btn-primary btn-lg">Завершити тестування</button>
        </div>
        <div ng-if="vm.state == 'result'" class = "center-field text-center">
            <div class="congrats">
                <h3>Вітаємо із завершенням тесту, {{vm.resultVM.name}} {{vm.resultVM.secondName}}</h3>
            </div>
            <h4>Правильних відповідей: {{vm.resultVM.correctAnswersNumber}}</h4>
            <h4>Відсоток правильних відповідей: {{vm.resultVM.percents}}%</h4>
            <br/>
            <button class="start-btn btn-primary btn-lg" ng-click="vm.start()">Повторити тестування</button>
        </div>
    </div>
</body>
</html>